<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Cursos</title>
</head>

<body>
    <h1>lista de Cursos</h1>
    <table>
        <thead>
            <tr>
                <th>| ID |</th>
                <th>| Nome do curso |</th>
                <th>| Carga horária |</th>
                <th>| Escolaridade requirida |</th>
            </tr>
        </thead>

        <tbody>

            <% listarTodosCursoss.forEach(function(curso){ %>
                <tr>
                    <td>
                        <%= curso.id %>
                    </td>
                    <td>
                        <%= curso.nome %>
                    </td>
                    <td>
                        <%= curso.carga_horaria %>
                    </td>
                    <td>
                        <%= curso.escolaridade_requirida %>
                    </td>
                </tr>
                <% }) %>

        </tbody>

    </table>

</body>

</html>